EDA inicial

In [1]:
import pandas as pd
import json

In [2]:
movies_df =pd.read_csv('movies_dataset.csv') #Lectura dataset

In [20]:
movies_df.info() #Cabecera dataset
movies_df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0

In [3]:
movies_df.iloc[19729] # la carga del data set a MySQL Workbench no acpta algunas filas, se complementan o eliminan aca

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...
homepage                                                               NaN
id                                                                   37635
imdb_id                                                          tt0047679
original_language                                                       en
original_title                                           Witness to Murder
overview                 A woman fights to convince the police that she...
popularity                                                        1.097008
poster_path                               /1GjOIJsMCTAWwLA4ksPaIa0lsaz.jpg
production_companies     [{'name': 'United Artists', 'id': 60}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1954-04-15
revenue                                                                0.0
runtime                                                               83.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                    THE SUSPENSE SHOCK OF THE YEAR!
title                                                    Witness to Murder
video                                                                False
vote_average                                                           6.6
vote_count                                                            14.0
actors                   Barbara Stanwyck, George Sanders, Gary Merrill...
director                                                       Roy Rowland
zeros                                                                    0
Name: 19729, dtype: object

In [22]:
movies_df.at[19729, 'popularity'] = '0'   # llenado de campos
movies_df.at[19729, 'poster_path'] = 'A'
movies_df.at[19729, 'production_companies'] = '[]'
movies_df.at[19729, 'production_countries'] = '[]'
movies_df.at[19729, 'release_date'] = ''
movies_df.at[19729, 'revenue'] = '0'
movies_df.at[19729, 'runtime'] = '0'
movies_df.at[19729, 'spoken_languages'] = ''
movies_df.at[19729, 'status'] = '0'
movies_df.at[19729, 'tagline'] = 'a'
movies_df.at[19729, 'title'] = 'a'
movies_df.at[19729, 'video'] = '0'
movies_df.at[19729, 'vote_average'] = '0'
movies_df.at[19729, 'vote_count'] = '0'

In [12]:
movies_df.iloc[19730]    # fila con datos errados, se elimina

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                                       [{'id': 18, 'name': 'Drama'}]
homepage                                                               NaN
id                                                                  174946
imdb_id                                                          tt0009976
original_language                                                       en
original_title                                                  The Busher
overview                 A young baseball pitcher in the bush leagues i...
popularity                                                        0.202719
poster_path                               /g4ut93t1OLvS1AKBtIJU1DpTTj3.jpg
production_companies     [{'name': 'Thomas H. Ince Corporation', 'id': ...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1919-05-17
revenue                                                                0.0
runtime                                                               55.0
spoken_languages                                                        []
status                                                            Released
tagline                                                                NaN
title                                                           The Busher
video                                                                False
vote_average                                                           5.0
vote_count                                                             1.0
actors                   Charles Ray, Colleen Moore, John Gilbert, Jay ...
director                                                      Jerome Storm
Name: 19730, dtype: object

In [25]:
movies_df = movies_df.drop(labels=19730, axis=0) # fila con datos errados, se elimina

In [26]:
movies_df.to_csv('movies_dataset.csv', index=False) # se guarda archivo

In [27]:
movies_df =pd.read_csv('movies_dataset.csv') # se vuelve a cargar

C:\Users\Omar\AppData\Local\Temp\ipykernel_3736\3848035962.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df =pd.read_csv('movies_dataset.csv') # se vuelve a cargar

In [11]:
movies_df.iloc[29502]  # otra fila para eliminar

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                            34000000
genres                   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
homepage                                                               NaN
id                                                                  228205
imdb_id                                                          tt2726560
original_language                                                       en
original_title                                            The Longest Ride
overview                 The lives of a young couple intertwine with a ...
popularity                                                       10.264416
poster_path                               /9oduon4a0w5a398r2o1M28s3upC.jpg
production_companies     [{'name': 'Fox 2000 Pictures', 'id': 711}, {'n...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2015-04-09
revenue                                                         63013281.0
runtime                                                              128.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                      Two couples. Two love stories. One epic tale.
title                                                     The Longest Ride
video                                                                False
vote_average                                                           7.3
vote_count                                                          1083.0
actors                   Scott Eastwood, Britt Robertson, Lolita Davido...
director                                               George Tillman, Jr.
Name: 29502, dtype: object

In [29]:
movies_df = movies_df.drop(labels=29502, axis=0) #se eliminna

In [30]:
movies_df.to_csv('movies_dataset.csv', index=False) #se guarda archivo

In [10]:
movies_df =pd.read_csv('movies_dataset.csv') #se lee arhivo

In [10]:
movies_df.iloc[29501] # fila con campos vacios

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 53, 'name': 'Thriller'}, {'id': 35, 'n...
homepage                                                               NaN
id                                                                  278316
imdb_id                                                          tt3104930
original_language                                                       en
original_title                                     Da Sweet Blood of Jesus
overview                 A movie about human beings who are addicted to...
popularity                                                        4.967015
poster_path                               /2pfrKnctbBRrgAmXoAgNCkWUEVb.jpg
production_companies     [{'name': '40 Acres & A Mule Filmworks', 'id':...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2014-06-22
revenue                                                                0.0
runtime                                                              123.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                                                                NaN
title                                              Da Sweet Blood of Jesus
video                                                                False
vote_average                                                           4.1
vote_count                                                            13.0
actors                   Felicia Pearson, Zaraah Abrahams, Elvis Nolasc...
director                                                         Spike Lee
Name: 29501, dtype: object

In [33]:
movies_df.at[29501, 'popularity'] = '0'
movies_df.at[29501, 'poster_path'] = 'A'
movies_df.at[29501, 'production_companies'] = '[]'
movies_df.at[29501, 'production_countries'] = '[]'
movies_df.at[29501, 'release_date'] = ''
movies_df.at[29501, 'revenue'] = '0'
movies_df.at[29501, 'runtime'] = '0'
movies_df.at[29501, 'spoken_languages'] = ''
movies_df.at[29501, 'status'] = '0'
movies_df.at[29501, 'tagline'] = ''
movies_df.at[29501, 'title'] = ''
movies_df.at[29501, 'video'] = '0'
movies_df.at[29501, 'vote_average'] = '0'
movies_df.at[29501, 'vote_count'] = '0'

In [9]:
movies_df.iloc[35584] #fila con campos vacios

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                                      [{'id': 35, 'name': 'Comedy'}]
homepage                                                               NaN
id                                                                  272426
imdb_id                                                          tt1143145
original_language                                                       de
original_title                                H3 - Halloween Horror Hostel
overview                                                               NaN
popularity                                                        0.045829
poster_path                               /lOpxqLf3SrD7kc3IgSHnVTmYs3W.jpg
production_companies     [{'name': 'Pro7', 'id': 1589}, {'name': 'Rat P...
production_countries             [{'iso_3166_1': 'DE', 'name': 'Germany'}]
release_date                                                    2008-03-18
revenue                                                                0.0
runtime                                                                NaN
spoken_languages                  [{'iso_639_1': 'de', 'name': 'Deutsch'}]
status                                                            Released
tagline                                                                NaN
title                                         H3 - Halloween Horror Hostel
video                                                                False
vote_average                                                           2.0
vote_count                                                             1.0
actors                   Alfonso Losa, Jennifer Ulrich, Axel Stein, Chr...
director                                                     Michael Karen
Name: 35584, dtype: object

In [35]:
movies_df.at[35584, 'popularity'] = '0'
movies_df.at[35584, 'poster_path'] = 'A'
movies_df.at[35584, 'production_companies'] = '[]'
movies_df.at[35584, 'production_countries'] = '[]'
movies_df.at[35584, 'release_date'] = ''
movies_df.at[35584, 'revenue'] = '0'
movies_df.at[35584, 'runtime'] = '0'
movies_df.at[35584, 'spoken_languages'] = ''
movies_df.at[35584, 'status'] = '0'
movies_df.at[35584, 'tagline'] = ''
movies_df.at[35584, 'title'] = ''
movies_df.at[35584, 'video'] = '0'
movies_df.at[35584, 'vote_average'] = '0'
movies_df.at[35584, 'vote_count'] = '0'

In [8]:
movies_df.iloc[35585]  # fila para eliminar

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...
homepage                                                               NaN
id                                                                  357940
imdb_id                                                          tt4701702
original_language                                                       zh
original_title                                                         老炮儿
overview                 Many years ago Mr. Six was a notorious gangste...
popularity                                                        1.565817
poster_path                                /juE6IVsfSIr45zpgMH5cb6ASUM.jpg
production_companies       [{'name': 'Huayi Brothers Media', 'id': 39649}]
production_countries               [{'iso_3166_1': 'CN', 'name': 'China'}]
release_date                                                    2015-09-16
revenue                                                                0.0
runtime                                                              134.0
spoken_languages                      [{'iso_639_1': 'zh', 'name': '普通话'}]
status                                                            Released
tagline                                                                NaN
title                                                              Mr. Six
video                                                                False
vote_average                                                           7.4
vote_count                                                            30.0
actors                   Feng Xiaogang, Zhang Hanyu, Li Yifeng, Kris Wu...
director                                                           Guan Hu
Name: 35585, dtype: object

In [37]:
movies_df = movies_df.drop(labels=35585, axis=0)

In [38]:
movies_df.to_csv('movies_dataset.csv', index=False)

Ahora se procesa el archivo 'credits.csv' para hacer la carga de datos a la base de datos MySQL, unicamente con los datos de actores y directores

In [2]:
import pandas as pd
import json
credits_df =pd.read_csv('credits.csv') #Lectura dataset

In [3]:
credits_df.info() #Cabecera dataset
credits_df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        45476 non-null  int64
 1   actors    43058 non-null  object
 2   director  44589 non-null  object
 3   zeros     45476 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.4+ MB

,id,actors,director,zeros
0,862,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter,0
1,8844,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston,0
2,15602,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch,0
3,31357,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker,0

In [41]:
# Se crea la columna 'actors' y se guardan todos los nombres correspondiente a actores de la columna 'cast', se ignora la informacion restante
credits_df['actors'] = credits_df['cast'].apply(lambda x: ', '.join([item['name'] for item in eval(x)]))

In [42]:
# Esta funcion busca el dato de nombre unicamente para la categoria de 'director' y lo almacena en la columna creada 'director'
import ast
def fetch_director(obj):
  L = []
  for i in ast.literal_eval(obj):
    if i['job'] == 'Director':
      L.append(i['name'])
  return ', ' .join(L)

credits_df['director'] = credits_df['crew'].apply(fetch_director)

In [4]:
credits_df.info() #Cabecera dataset
credits_df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        45476 non-null  int64
 1   actors    43058 non-null  object
 2   director  44589 non-null  object
 3   zeros     45476 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.4+ MB

,id,actors,director,zeros
0,862,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter,0
1,8844,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston,0
2,15602,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch,0
3,31357,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker,0
4,11862,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer,0
5,949,"Al Pacino, Robert De Niro, Val Kilmer, Jon Voi...",Michael Mann,0
6,11860,"Harrison Ford, Julia Ormond, Greg Kinnear, Ang...",Sydney Pollack,0
7,45325,"Jonathan Taylor Thomas, Brad Renfro, Rachael L...",Peter Hewitt,0
8,9091,"Jean-Claude Van Damme, Powers Boothe, Dorian H...",Peter Hyams,0
9,710,"Pierce Brosnan, Sean Bean, Izabella Scorupco, ...",Martin Campbell,0
10,9087,"Michael Douglas, Annette Bening, Michael J. Fo...",Rob Reiner,0
11,12110,"Leslie Nielsen, Mel Brooks, Amy Yasbeck, Peter...",Mel Brooks,0
12,21032,"Kevin Bacon, Bob Hoskins, Bridget Fonda, Jim C...",Simon Wells,0
13,10858,"Anthony Hopkins, Joan Allen, Powers Boothe, Ed...",Oliver Stone,0
14,1408,"Geena Davis, Matthew Modine, Frank Langella, M...",Renny Harlin,0
15,524,"Robert De Niro, Sharon Stone, Joe Pesci, James...",Martin Scorsese,0
16,4584,"Kate Winslet, Emma Thompson, Hugh Grant, Tom W...",Ang Lee,0
17,5,"Tim Roth, Antonio Banderas, Jennifer Beals, Ma...","Allison Anders, Alexandre Rockwell, Robert Rod...",0
18,9273,"Jim Carrey, Ian McNeice, Simon Callow, Maynard...",Steve Oedekerk,0
19,11517,"Wesley Snipes, Woody Harrelson, Jennifer Lopez...",Joseph Ruben,0

In [44]:
#Se eliminan las columnas 'cast' y 'crew', con informacion ahora redundante
credits_df = credits_df.drop(['cast', 'crew'], axis=1)

In [15]:
#La carga del archivo 'credits.csv' a la base de datos en MySQL Workbench tenia inconveniente cuando un registro tenia mas de un director
#Se adiciono una columna de ceros, como truco para permitir la carga de los datos de ese archivo
movies_df['zeros'] = 0

In [46]:
credits_df.iloc[17] #Registro con varios directores

id                                                          5
actors      Tim Roth, Antonio Banderas, Jennifer Beals, Ma...
director    Allison Anders, Alexandre Rockwell, Robert Rod...
zeros                                                       0
Name: 17, dtype: object

In [47]:
#Se guarda el dataframe editado al archivo
credits_df.to_csv('credits.csv', index=False)

In [7]:
actors_director = credits_df[['id', 'actors', 'director']]
movies_df = pd.merge(movies_df, actors_director, on='id', how='left')

In [16]:
movies_df.to_csv('movies_dataset.csv', index=False)

In [5]:
# Check for duplicated rows
duplicates = movies_df.duplicated()

# Filter the DataFrame to show only the duplicated rows
duplicated_rows = movies_df[duplicates]

# Print the duplicated rows, if any
if len(duplicated_rows) > 0:
    print("Duplicated Rows:")
    print(duplicated_rows)
else:
    print("No duplicated rows found.")

Duplicated Rows:
       adult                              belongs_to_collection    budget  \
677    False                                                NaN         0
840    False                                                NaN         0
952    False                                                NaN         4
1468   False                                                NaN         0
1469   False                                                NaN         0
...      ...                                                ...       ...
40346  False                                                NaN         0
44892  False  {'id': 34055, 'name': 'Pokémon Collection', 'p...  16000000
44898  False  {'id': 34055, 'name': 'Pokémon Collection', 'p...         0
45337  False                                                NaN         0
45338  False                                                NaN         0

                                                  genres  \
677    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
840                        [{'id': 18, 'name': 'Drama'}]
952    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
1468   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
1469   [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
...                                                  ...
40346                     [{'id': 35, 'name': 'Comedy'}]
44892  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
44898  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
45337  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
45338  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...

                                                homepage      id    imdb_id  \
677                                                  NaN  105045  tt0111613
840                                                  NaN  132641  tt0046468
952                                                  NaN   22649  tt0022879
1468                                                 NaN  105045  tt0111613
1469                                                 NaN  105045  tt0111613
...                                                  ...     ...        ...
40346                                                NaN   97995  tt0127834
44892                  http://movies.warnerbros.com/pk3/   10991  tt0235679
44898  http://www.pokemon.com/us/movies/movie-pokemon...   12600  tt0287635
45337                                                NaN  265189  tt2121382
45338                                                NaN  265189  tt2121382

      original_language                  original_title  \
677                  de                 Das Versprechen
840                  ja                           Tsuma
952                  en              A Farewell to Arms
1468                 de                 Das Versprechen
1469                 de                 Das Versprechen
...                 ...                             ...
40346                en            Seven Years Bad Luck
44892                ja            Pokémon 3: The Movie
44898                ja  劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）
45337                sv                          Turist
45338                sv                          Turist

                                                overview  ...  \
677    East-Berlin, 1961, shortly after the erection ...  ...
840    Ten years into a marriage, the wife is disappo...  ...
952    British nurse Catherine Barkley (Helen Hayes) ...  ...
1468   East-Berlin, 1961, shortly after the erection ...  ...
1469   East-Berlin, 1961, shortly after the erection ...  ...
...                                                  ...  ...
40346  After breaking a mirror in his home, superstit...  ...
44892  When Molly Hale's sadness of her father's disa...  ...
44898  All your favorite Pokémon characters are back,...  ...
45337  While holidaying in the French Alps, a Swedish...  ...
45338  While holidaying in the French Alps, a Swedish...  ...

                                        spoken_languages    status  \
677             [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released
840                 [{'iso_639_1': 'ja', 'name': '日本語'}]  Released
952             [{'iso_639_1': 'en', 'name': 'English'}]  Released
1468            [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released
1469            [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released
...                                                  ...       ...
40346           [{'iso_639_1': 'en', 'name': 'English'}]  Released
44892           [{'iso_639_1': 'en', 'name': 'English'}]  Released
44898               [{'iso_639_1': 'ja', 'name': '日本語'}]  Released
45337  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
45338  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released

                                         tagline  \
677                      A love, a hope, a wall.
840                                          NaN
952    Every woman who has loved will understand
1468                     A love, a hope, a wall.
1469                     A love, a hope, a wall.
...                                          ...
40346                                        NaN
44892              Pokémon: Spell of the Unknown
44898                                        NaN
45337                                        NaN
45338                                        NaN

                                             title  video  vote_average  \
677                                    The Promise  False           5.0
840                                           Wife  False           0.0
952                             A Farewell to Arms  False           6.2
1468                                   The Promise  False           5.0
1469                                   The Promise  False           5.0
...                                            ...    ...           ...
40346                         Seven Years Bad Luck  False           5.6
44892                Pokémon: Spell of the Unknown  False           6.0
44898  Pokémon 4Ever: Celebi - Voice of the Forest  False           5.7
45337                                Force Majeure  False           6.8
45338                                Force Majeure  False           6.8

       vote_count                                             actors  \
677           1.0  Corinna Harfouch, Meret Becker, August Zirner,...
840           0.0  Mieko Takamine, Ken Uehara, Rentarô Mikuni, Mi...
952          29.0  Helen Hayes, Gary Cooper, Adolphe Menjou, Mary...
1468          1.0  Corinna Harfouch, Meret Becker, August Zirner,...
1469          1.0  Corinna Harfouch, Meret Becker, August Zirner,...
...           ...                                                ...
40346         4.0  Max Linder, Alta Allen, Ralph McCullough, Bett...
44892       144.0       Veronica Taylor, Rachael Lillis, Eric Stuart
44898        82.0  Veronica Taylor, Rachael Lillis, Maddie Blaust...
45337       255.0  Lisa Loven Kongsli, Johannes Bah Kuhnke, Clara...
45338       255.0  Lisa Loven Kongsli, Johannes Bah Kuhnke, Clara...

                               director zeros
677               Margarethe von Trotta     0
840                        Mikio Naruse     0
952                       Frank Borzage     0
1468              Margarethe von Trotta     0
1469              Margarethe von Trotta     0
...                                 ...   ...
40346                        Max Linder     0
44892  Michael Haigney, Kunihiko Yuyama     0
44898       Kunihiko Yuyama, Jim Malone     0
45337                     Ruben Östlund     0
45338                     Ruben Östlund     0

[92 rows x 27 columns]

In [6]:
# Drop duplicate rows, keeping the first occurrence
movies_df_unique = movies_df.drop_duplicates()

# Print the resulting DataFrame
print(movies_df_unique)

       adult                              belongs_to_collection    budget  \
0      False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1      False                                                NaN  65000000
2      False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3      False                                                NaN  16000000
4      False  {'id': 96871, 'name': 'Father of the Bride Col...         0
...      ...                                                ...       ...
45534  False                                                NaN         0
45535  False                                                NaN         0
45536  False                                                NaN         0
45537  False                                                NaN         0
45538  False                                                NaN         0

                                                  genres  \
0      [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1      [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2      [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3      [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                         [{'id': 35, 'name': 'Comedy'}]
...                                                  ...
45534  [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45535                      [{'id': 18, 'name': 'Drama'}]
45536  [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45537                                                 []
45538                                                 []

                                   homepage      id    imdb_id  \
0      http://toystory.disney.com/toy-story     862  tt0114709
1                                       NaN    8844  tt0113497
2                                       NaN   15602  tt0113228
3                                       NaN   31357  tt0114885
4                                       NaN   11862  tt0113041
...                                     ...     ...        ...
45534  http://www.imdb.com/title/tt6209470/  439050  tt6209470
45535                                   NaN  111109  tt2028550
45536                                   NaN   67758  tt0303758
45537                                   NaN  227506  tt0008536
45538                                   NaN  461257  tt6980792

      original_language               original_title  \
0                    en                    Toy Story
1                    en                      Jumanji
2                    en             Grumpier Old Men
3                    en            Waiting to Exhale
4                    en  Father of the Bride Part II
...                 ...                          ...
45534                fa                      رگ خواب
45535                tl          Siglo ng Pagluluwal
45536                en                     Betrayal
45537                en          Satana likuyushchiy
45538                en                     Queerama

                                                overview  ...  \
0      Led by Woody, Andy's toys live happily in his ...  ...
1      When siblings Judy and Peter discover an encha...  ...
2      A family wedding reignites the ancient feud be...  ...
3      Cheated on, mistreated and stepped on, the wom...  ...
4      Just when George Banks has recovered from his ...  ...
...                                                  ...  ...
45534        Rising and falling between a man and woman.  ...
45535  An artist struggles to finish his work while a...  ...
45536  When one of her hits goes wrong, a professiona...  ...
45537  In a small town live two brothers, one a minis...  ...
45538  50 years after decriminalisation of homosexual...  ...

                                        spoken_languages    status  \
0               [{'iso_639_1': 'en', 'name': 'English'}]  Released
1      [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
2               [{'iso_639_1': 'en', 'name': 'English'}]  Released
3               [{'iso_639_1': 'en', 'name': 'English'}]  Released
4               [{'iso_639_1': 'en', 'name': 'English'}]  Released
...                                                  ...       ...
45534             [{'iso_639_1': 'fa', 'name': 'فارسی'}]  Released
45535                  [{'iso_639_1': 'tl', 'name': ''}]  Released
45536           [{'iso_639_1': 'en', 'name': 'English'}]  Released
45537                                                 []  Released
45538           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                                 tagline  \
0                                                    NaN
1              Roll the dice and unleash the excitement!
2      Still Yelling. Still Fighting. Still Ready for...
3      Friends are the people who let you be yourself...
4      Just When His World Is Back To Normal... He's ...
...                                                  ...
45534         Rising and falling between a man and woman
45535                                                NaN
45536                             A deadly game of wits.
45537                                                NaN
45538                                                NaN

                             title  video  vote_average  vote_count  \
0                        Toy Story  False           7.7      5415.0
1                          Jumanji  False           6.9      2413.0
2                 Grumpier Old Men  False           6.5        92.0
3                Waiting to Exhale  False           6.1        34.0
4      Father of the Bride Part II  False           5.7       173.0
...                            ...    ...           ...         ...
45534                       Subdue  False           4.0         1.0
45535          Century of Birthing  False           9.0         3.0
45536                     Betrayal  False           3.8         6.0
45537             Satan Triumphant  False           0.0         0.0
45538                     Queerama  False           0.0         0.0

                                                  actors          director  \
0      Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...     John Lasseter
1      Robin Williams, Jonathan Hyde, Kirsten Dunst, ...      Joe Johnston
2      Walter Matthau, Jack Lemmon, Ann-Margret, Soph...     Howard Deutch
3      Whitney Houston, Angela Bassett, Loretta Devin...   Forest Whitaker
4      Steve Martin, Diane Keaton, Martin Short, Kimb...     Charles Shyer
...                                                  ...               ...
45534          Leila Hatami, Kourosh Tahami, Elham Korda  Hamid Nematollah
45535  Angel Aquino, Perry Dizon, Hazel Orencio, Joel...          Lav Diaz
45536  Erika Eleniak, Adam Baldwin, Julie du Page, Ja...    Mark L. Lester
45537  Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...  Yakov Protazanov
45538                                                NaN     Daisy Asquith

      zeros
0         0
1         0
2         0
3         0
4         0
...     ...
45534     0
45535     0
45536     0
45537     0
45538     0

[45447 rows x 27 columns]

In [7]:
movies_df.to_csv('movies_dataset.csv', index=False)

In [11]:
duplicate_rows = movies_df[movies_df.duplicated('id', keep=False)]

# Print the duplicate rows.
print(duplicate_rows)

       adult                              belongs_to_collection    budget  \
676    False                                                NaN         0
677    False                                                NaN         0
839    False                                                NaN         0
840    False                                                NaN         0
951    False                                                NaN         4
...      ...                                                ...       ...
44892  False  {'id': 34055, 'name': 'Pokémon Collection', 'p...  16000000
44897  False  {'id': 34055, 'name': 'Pokémon Collection', 'p...         0
44898  False  {'id': 34055, 'name': 'Pokémon Collection', 'p...         0
45337  False                                                NaN         0
45338  False                                                NaN         0

                                                  genres  \
676    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
677    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
839                        [{'id': 18, 'name': 'Drama'}]
840                        [{'id': 18, 'name': 'Drama'}]
951    [{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...
...                                                  ...
44892  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
44897  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
44898  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
45337  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
45338  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...

                                                homepage      id    imdb_id  \
676                                                  NaN  105045  tt0111613
677                                                  NaN  105045  tt0111613
839                                                  NaN  132641  tt0046468
840                                                  NaN  132641  tt0046468
951                                                  NaN   22649  tt0022879
...                                                  ...     ...        ...
44892                  http://movies.warnerbros.com/pk3/   10991  tt0235679
44897  http://www.pokemon.com/us/movies/movie-pokemon...   12600  tt0287635
44898  http://www.pokemon.com/us/movies/movie-pokemon...   12600  tt0287635
45337                                                NaN  265189  tt2121382
45338                                                NaN  265189  tt2121382

      original_language                  original_title  \
676                  de                 Das Versprechen
677                  de                 Das Versprechen
839                  ja                           Tsuma
840                  ja                           Tsuma
951                  en              A Farewell to Arms
...                 ...                             ...
44892                ja            Pokémon 3: The Movie
44897                ja  劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）
44898                ja  劇場版ポケットモンスター セレビィ 時を越えた遭遇（であい）
45337                sv                          Turist
45338                sv                          Turist

                                                overview  ...  \
676    East-Berlin, 1961, shortly after the erection ...  ...
677    East-Berlin, 1961, shortly after the erection ...  ...
839    Ten years into a marriage, the wife is disappo...  ...
840    Ten years into a marriage, the wife is disappo...  ...
951    British nurse Catherine Barkley (Helen Hayes) ...  ...
...                                                  ...  ...
44892  When Molly Hale's sadness of her father's disa...  ...
44897  All your favorite Pokémon characters are back,...  ...
44898  All your favorite Pokémon characters are back,...  ...
45337  While holidaying in the French Alps, a Swedish...  ...
45338  While holidaying in the French Alps, a Swedish...  ...

                                        spoken_languages    status  \
676             [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released
677             [{'iso_639_1': 'de', 'name': 'Deutsch'}]  Released
839                 [{'iso_639_1': 'ja', 'name': '日本語'}]  Released
840                 [{'iso_639_1': 'ja', 'name': '日本語'}]  Released
951             [{'iso_639_1': 'en', 'name': 'English'}]  Released
...                                                  ...       ...
44892           [{'iso_639_1': 'en', 'name': 'English'}]  Released
44897               [{'iso_639_1': 'ja', 'name': '日本語'}]  Released
44898               [{'iso_639_1': 'ja', 'name': '日本語'}]  Released
45337  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released
45338  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...  Released

                                         tagline  \
676                      A love, a hope, a wall.
677                      A love, a hope, a wall.
839                                          NaN
840                                          NaN
951    Every woman who has loved will understand
...                                          ...
44892              Pokémon: Spell of the Unknown
44897                                        NaN
44898                                        NaN
45337                                        NaN
45338                                        NaN

                                             title  video  vote_average  \
676                                    The Promise  False           5.0
677                                    The Promise  False           5.0
839                                           Wife  False           0.0
840                                           Wife  False           0.0
951                             A Farewell to Arms  False           6.2
...                                            ...    ...           ...
44892                Pokémon: Spell of the Unknown  False           6.0
44897  Pokémon 4Ever: Celebi - Voice of the Forest  False           5.7
44898  Pokémon 4Ever: Celebi - Voice of the Forest  False           5.7
45337                                Force Majeure  False           6.8
45338                                Force Majeure  False           6.8

       vote_count                                             actors  \
676           1.0  Corinna Harfouch, Meret Becker, August Zirner,...
677           1.0  Corinna Harfouch, Meret Becker, August Zirner,...
839           0.0  Mieko Takamine, Ken Uehara, Rentarô Mikuni, Mi...
840           0.0  Mieko Takamine, Ken Uehara, Rentarô Mikuni, Mi...
951          29.0  Helen Hayes, Gary Cooper, Adolphe Menjou, Mary...
...           ...                                                ...
44892       144.0       Veronica Taylor, Rachael Lillis, Eric Stuart
44897        82.0  Veronica Taylor, Rachael Lillis, Maddie Blaust...
44898        82.0  Veronica Taylor, Rachael Lillis, Maddie Blaust...
45337       255.0  Lisa Loven Kongsli, Johannes Bah Kuhnke, Clara...
45338       255.0  Lisa Loven Kongsli, Johannes Bah Kuhnke, Clara...

                               director zeros
676               Margarethe von Trotta     0
677               Margarethe von Trotta     0
839                        Mikio Naruse     0
840                        Mikio Naruse     0
951                       Frank Borzage     0
...                                 ...   ...
44892  Michael Haigney, Kunihiko Yuyama     0
44897       Kunihiko Yuyama, Jim Malone     0
44898       Kunihiko Yuyama, Jim Malone     0
45337                     Ruben Östlund     0
45338                     Ruben Östlund     0

[149 rows x 27 columns]