EDA inicial

In [1]:
import pandas as pd
import json

In [2]:
movies_df =pd.read_csv('movies_dataset.csv') #Lectura dataset

C:\Users\Omar\AppData\Local\Temp\ipykernel_2328\838507129.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df =pd.read_csv('movies_dataset.csv')

In [3]:
movies_df.info() #Cabecera dataset
movies_df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0

In [4]:
movies_df.iloc[711]

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                                                                  []
homepage                                                               NaN
id                                                                  365371
imdb_id                                                          tt0114894
original_language                                                       en
original_title                        War Stories Our Mother Never Told Us
overview                 Seven New Zealand women speak about their live...
popularity                                                        0.005625
poster_path                                                            NaN
production_companies                                                    []
production_countries                                                    []
release_date                                                           NaN
revenue                                                                0.0
runtime                                                               95.0
spoken_languages                                                        []
status                                                            Released
tagline                                                                NaN
title                                 War Stories Our Mother Never Told Us
video                                                                False
vote_average                                                           0.0
vote_count                                                             0.0
Name: 711, dtype: object

In [5]:
movies_df.iloc[19729] # la carga del data set a MySQL Workbench no acpta algunas filas, se complementan o eliminan aca

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
homepage                                                               NaN
id                                                                   82663
imdb_id                                                          tt0113002
original_language                                                       en
original_title                                                Midnight Man
overview                 British soldiers force a recently captured IRA...
popularity                                                             NaN
poster_path                                                            NaN
production_companies                                                   NaN
production_countries                                                   NaN
release_date                                                           NaN
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 19729, dtype: object

In [6]:
movies_df.at[19729, 'popularity'] = '0'   # llenado de campos
movies_df.at[19729, 'poster_path'] = 'A'
movies_df.at[19729, 'production_companies'] = '[]'
movies_df.at[19729, 'production_countries'] = '[]'
movies_df.at[19729, 'release_date'] = '0'
movies_df.at[19729, 'revenue'] = '0'
movies_df.at[19729, 'runtime'] = '0'
movies_df.at[19729, 'spoken_languages'] = ''
movies_df.at[19729, 'status'] = '0'
movies_df.at[19729, 'tagline'] = 'a'
movies_df.at[19729, 'title'] = 'a'
movies_df.at[19729, 'video'] = '0'
movies_df.at[19729, 'vote_average'] = '0'
movies_df.at[19729, 'vote_count'] = '0'

In [7]:
movies_df.iloc[19730]    # fila con datos errados, se elimina

adult                                                   - Written by Ã˜rnÃ¥s
belongs_to_collection                                             0.065736
budget                                    /ff9qCepilowshEtG2GYWwzt2bs4.jpg
genres                   [{'name': 'Carousel Productions', 'id': 11176}...
homepage                 [{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...
id                                                              1997-08-20
imdb_id                                                                  0
original_language                                                    104.0
original_title                    [{'iso_639_1': 'en', 'name': 'English'}]
overview                                                          Released
popularity                                                             NaN
poster_path                                                   Midnight Man
production_companies                                                 False
production_countries                                                   6.0
release_date                                                             1
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 19730, dtype: object

In [8]:
movies_df = movies_df.drop(labels=19730, axis=0) # fila con datos errados, se elimina

In [9]:
movies_df.to_csv('movies_dataset.csv', index=False) # se guarda archivo

In [10]:
movies_df =pd.read_csv('movies_dataset.csv') # se vuelve a cargar

C:\Users\Omar\AppData\Local\Temp\ipykernel_2328\838507129.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df =pd.read_csv('movies_dataset.csv')

In [11]:
movies_df.iloc[29502]  # otra fila para eliminar

adult                     Rune Balot goes to a casino connected to the ...
belongs_to_collection                                             1.931659
budget                                    /zV8bHuSL6WXoD6FWogP9j4x80bL.jpg
genres                   [{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...
homepage                 [{'iso_3166_1': 'US', 'name': 'United States o...
id                                                              2012-09-29
imdb_id                                                                  0
original_language                                                     68.0
original_title                        [{'iso_639_1': 'ja', 'name': 'æ—¥æœ¬èªž'}]
overview                                                          Released
popularity                                                             NaN
poster_path                            Mardock Scramble: The Third Exhaust
production_companies                                                 False
production_countries                                                   7.0
release_date                                                            12
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 29502, dtype: object

In [12]:
movies_df = movies_df.drop(labels=29502, axis=0) #se eliminna

In [13]:
movies_df.to_csv('movies_dataset.csv', index=False) #se guarda archivo

In [14]:
movies_df =pd.read_csv('movies_dataset.csv') #se lee arhivo

C:\Users\Omar\AppData\Local\Temp\ipykernel_2328\838507129.py:1: DtypeWarning: Columns (0,2,5,10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df =pd.read_csv('movies_dataset.csv')

In [15]:
movies_df.iloc[29501] # fila con campos vacios

adult                                                                False
belongs_to_collection    {'id': 122661, 'name': 'Mardock Scramble Colle...
budget                                                                   0
genres                   [{'id': 16, 'name': 'Animation'}, {'id': 878, ...
homepage                                     http://m-scramble.jp/exhaust/
id                                                                  122662
imdb_id                                                          tt2423504
original_language                                                       ja
original_title                                            ãƒžãƒ«ãƒ‰ã‚¥ãƒƒã‚¯ãƒ»ã‚¹ã‚¯ãƒ©ãƒ³ãƒ–ãƒ« æŽ’æ°—
overview                        Third film of the Mardock Scramble series.
popularity                                                             NaN
poster_path                                                            NaN
production_companies                                                   NaN
production_countries                                                   NaN
release_date                                                           NaN
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 29501, dtype: object

In [16]:
movies_df.at[29501, 'popularity'] = '0'
movies_df.at[29501, 'poster_path'] = 'A'
movies_df.at[29501, 'production_companies'] = '[]'
movies_df.at[29501, 'production_countries'] = '[]'
movies_df.at[29501, 'release_date'] = '0'
movies_df.at[29501, 'revenue'] = '0'
movies_df.at[29501, 'runtime'] = '0'
movies_df.at[29501, 'spoken_languages'] = ''
movies_df.at[29501, 'status'] = '0'
movies_df.at[29501, 'tagline'] = ''
movies_df.at[29501, 'title'] = ''
movies_df.at[29501, 'video'] = '0'
movies_df.at[29501, 'vote_average'] = '0'
movies_df.at[29501, 'vote_count'] = '0'

In [17]:
movies_df.iloc[35584] #fila con campos vacios

adult                                                                False
belongs_to_collection                                                  NaN
budget                                                                   0
genres                   [{'id': 10770, 'name': 'TV Movie'}, {'id': 28,...
homepage                                                               NaN
id                                                                  249260
imdb_id                                                          tt2622826
original_language                                                       en
original_title                                            Avalanche Sharks
overview                 A group of skiers are terrorized during spring...
popularity                                                             NaN
poster_path                                                            NaN
production_companies                                                   NaN
production_countries                                                   NaN
release_date                                                           NaN
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 35584, dtype: object

In [18]:
movies_df.at[35584, 'popularity'] = '0'
movies_df.at[35584, 'poster_path'] = 'A'
movies_df.at[35584, 'production_companies'] = '[]'
movies_df.at[35584, 'production_countries'] = '[]'
movies_df.at[35584, 'release_date'] = '0'
movies_df.at[35584, 'revenue'] = '0'
movies_df.at[35584, 'runtime'] = '0'
movies_df.at[35584, 'spoken_languages'] = ''
movies_df.at[35584, 'status'] = '0'
movies_df.at[35584, 'tagline'] = ''
movies_df.at[35584, 'title'] = ''
movies_df.at[35584, 'video'] = '0'
movies_df.at[35584, 'vote_average'] = '0'
movies_df.at[35584, 'vote_count'] = '0'

In [19]:
movies_df.iloc[35585]  # fila para eliminar

adult                     Avalanche Sharks tells the story of a bikini ...
belongs_to_collection                                             2.185485
budget                                    /zaSf5OG7V8X8gqFvly88zDdRm46.jpg
genres                   [{'name': 'Odyssey Media', 'id': 17161}, {'nam...
homepage                          [{'iso_3166_1': 'CA', 'name': 'Canada'}]
id                                                              2014-01-01
imdb_id                                                                  0
original_language                                                     82.0
original_title                    [{'iso_639_1': 'en', 'name': 'English'}]
overview                                                          Released
popularity                                           Beware Of Frost Bites
poster_path                                               Avalanche Sharks
production_companies                                                 False
production_countries                                                   4.3
release_date                                                            22
revenue                                                                NaN
runtime                                                                NaN
spoken_languages                                                       NaN
status                                                                 NaN
tagline                                                                NaN
title                                                                  NaN
video                                                                  NaN
vote_average                                                           NaN
vote_count                                                             NaN
Name: 35585, dtype: object

In [19]:
movies_df = movies_df.drop(labels=35585, axis=0)

In [20]:
movies_df.to_csv('movies_dataset.csv', index=False)